.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    color: #fff;
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    border-radius: 4px;
    padding: 12.5px 29px;

}

.button:hover{
    background: #fff;
    color: #FF3F3A;
    outline: 1px solid #FF3F3A;
}

.button-border {
    border: 1px solid #FF3F3A;
    border-radius: 4px;
    color: #FF3F3A;
    background: #FEDAD4;
}

.button span{
    position: relative;
    z-index: 2;
}

.button-border:hover{
    background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
    color: #fff;
}

@media (max-width: 789px){
	.button {
		font-size: 14px;
	}
}

@media (max-width: 789px){
    .button{
        padding: 7.5px 48px;
    }
}

@media (max-width: 427px){
    .button {
        padding: 7.5px 39px;
    }
}

@media (max-width: 398px){
    .button {
        padding: 7.5px 18px;
    }
}
